<%#= debug response %>
<%#= @myactcode %>
<div class="compact">
<% @contracts.each do |contract| %>
<span class="label"><%= Date.parse(contract.date_of_event).to_s(:long) %></span>
		<ul class="small-block-grid-4">
		  <li><%=link_to contract.act_booked, contract %></li>
		  <li><%= contract.contract_status %></li>
		  <li><%= contract.eventtime %></li>
		  <li><%= contract.contract_number %></li>
		</ul>
			<p><dt>Client: <%= contract.clientname %></dt> <dt><%= contract.clientcontact %></dt></p>
			<p><dt><b><%= contract.type_of_event %> </b></dt>Location: <%= contract.longaddress %></p>
			<ul class="small-block-grid-3 small-text">
				<li><b>Contract Price:<%= contract.contract_price %></b></li>
				<li><b>Net:<%= contract.act_net %></b></li>
				<li><b>Agent:<%= contract.agent %></b></li>
			</ul>
			<p class="medium-text"><b>Contract Provisions:</b> <%= contract.contract_provisions.gsub(/"/,'')%></p>
			<p class="medium-text"><b>Act Notes:</b> <%= contract.act_notes.gsub(/"/,'')%></p>
			
		<hr>
<% end %>
</div>