<%#= debug response %>
<%#= @myactcode %>
<% @contracts.each do |contract| %>
<article class="data-block blue">
    <header>
     <h2><%= contract.clientname %> </h2>

    <ul class="data-header-actions">
                <li><a href="#subone"><%= contract.clientcontact %></a></li>
            </ul>
  </header>
<section>
<span class="label"><%= Date.parse(contract.date_of_event).to_s(:long) %></span>
 <div class="row">
            <div class="span5">
                <ul>
                  <li><%=link_to contract.act_booked, contract %></li>
                  <li><%= contract.contract_status %></li>
                  <li>Event Times: <%= contract.eventtime %></li>
                </ul>
    </div>
        <div class="span3">
            <ul>
            <li><b>Contract Price: <%= number_to_currency(contract.contract_price) %></b></li>
            <li><b>Net: <%= number_to_currency(contract.act_net) %></b></li>
            <li><b>Agent: <%= contract.agent %></b></li>
            <li><b>Contract number: <%= contract.contract_number %></b></li>
        </ul>
    </div>

    </div>

            <p><dt><b><%= contract.type_of_event %> </b></dt>Location: <%= contract.longaddress %></p>


            <p class="medium-text"><b>Contract Provisions:</b> <%= contract.contract_provisions.gsub(/"/,'')%></p>
            <p class="medium-text"><b>Act Notes:</b> <%= contract.act_notes.gsub(/"/,'')%></p>

</section>
   <footer>

        </footer>
</article>
<% end %>